@import '../../variables.scss';

a {
  text-decoration: none;
  color: $white-color;
  font-family: 'Rubik';
  font-size: 20px;
  font-weight: 200;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 32px;

  div {
    max-width: 1560px;
    width: 100%;

    display: grid;
    align-items: center;

    grid-template-columns: repeat(3, auto);
    grid-gap: 35px;

    .logo {
      display: block;
    }

    .burger-button {
      display: none;
    }

    .nav-bar {
      display: flex;
      justify-content: center;
      max-width: 420px;
      width: 100%;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
      }
    }

    .login-buttons {
      display: flex;
      justify-content: end;

      .signup-btn {
        background-color: $active-color;
        padding: 20px 32px;
        border-radius: 12px;
      }
    }
  }

  .active {
    a {
      border-bottom: 3px solid $active-color;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: $tablet) {
  nav {
    div {
      .logo {
        img {
          width: 55%;
        }
      }

      .burger-button {
        display: block;
      }

      .nav-bar,
      .login-buttons {
        display: none;
      }
    }
  }
}