@import '../variables.scss';

.experiences-container {
    @include headers;
    @include container-size;
    @include playfair;
    width: 100%;
    padding-bottom: 260px;

    .swipers {

        .experience-swiper {
            height: 383px;

            .experience-slide {
                max-width: 663px;
                width: 100%;
                
            }
        }
        
    }

    .buttons{
        display: flex;
        justify-content: end;
        gap: 40px;
        button {
            border: none;
            background: none;
        }
    }

}