@import '../variables.scss';

.special-offer {
  height: 690px;
}

@media screen and (max-width: $mobile) {
  .swipers {
    max-height: 850px;
    .swiper {
      height: 100%;
      .swiper-wrapper {
        .swiper-slide {
          height: auto;
        }
      }
    }
    // .special-offer {
    //   height: 100%;
    // }
  }
  
}